@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import "tailwindcss";
@import "rsuite/DateRangePicker/styles/index.css";

@theme {
  --purple: #7a64ff;
  --black: #222222;
  --white: #ffffff;
  --dark-gray: #b0b0b0;
  --light-gray: #cccccc;
  --font-montserrat: "Montserrat", "sans-serif"; 
  --soft-gray: #F7F7F7;
